<footer >
  <div class="navbar">
    <div class="box">
      <div class="icon linkedin">
        <a href="https://www.linkedin.com/in/lucas-baggio-da-silva-125ab2209/"><img src="../../assets/img/linkedin.png" alt=""></a>
      </div>
      <p>Linkedin</p>
    </div>

    <div class="box">
      <div class="icon github">
        <a href="https://github.com/GokuDBZSSJ7"><img src="../../assets/img/github.png" alt=""></a>
      </div>
      <p>Github</p>
    </div>

    <div class="box">
      <div class="icon instagram">
        <a href="https://www.instagram.com/lucas_baggio123/"><img src="../../assets/img/instagram.png" alt=""></a>
      </div>
      <p>Instagram</p>
    </div>

    <div class="box">
      <div class="icon youtube">
        <a href="https://www.youtube.com/channel/UCmQYhMyVMP6qflIkOBn_vFg"><img src="../../assets/img/youtube.png" alt=""></a>
      </div>
      <p>Youtube</p>
    </div>
  </div>
</footer>
