footer{
  position: relative;
  top: 25em;
  height: 10em;
  background-color: #6E07F3;
  text-align: center;
}

h2{
  position: relative;
  top: 2em;
  color: white;
  font-family: 'Kanit';
  font-weight: 800;
}

@media screen and (min-width: 414px) {
  footer{
    top: 2em;
  }
}
