footer{
  position: relative;
  top: 20em !important;
  height: 26em;
  background-color: #6E07F3;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2{
  position: relative;
  top: 2em;
  color: white;
  font-family: 'Kanit';
  font-weight: 800;
}

.box{
  width: 65px;
  height: 68px;
  padding: 5px;
  margin: 0.6rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all .4s ease;
  left: 45%;
}

.box:hover img{
  background: #fff;
  color: #3b3b3b;
  box-shadow: 0 0 20px #3b3b3b;
}

.box:hover{
  width: 200px;
  background: #1766f8;
  border-radius: 35px;
  color: #fff;
  box-shadow: 0 0 50px #b3115917;
}

.box:nth-child(2):hover{
  background: #000000;
  box-shadow: 0 0 50px #000000;
}
.box:nth-child(3):hover{
  background: #e611e2;
  box-shadow: 0 0 50px #000000;
}
.box:nth-child(1):hover{
  background: #1766f8;
  box-shadow: 0 0 50px #1766f8;
}

.navbar p{
  transform: translate(60px);
  position: relative;
  top: -2.2em;
  left: 1.6em;
}

.navbar{
  position: relative;
  top: 2.5em;
}

.box .icon img{
  position: relative;
  top: 0.3em;
  left: 0.3em;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50% !important;
  margin-right: 10px;
  transition: all .4s ease;
}

.box:nth-child(4):hover{
  background: rgb(243, 42, 42);
  box-shadow: 0 0 50px rgb(243, 42, 42);
}



@media screen and (min-width: 414px) {
  footer{
    top: 2em;
  }
}
