<section class="container">
  <div class="caixa">
    <div class="card border">
      <h1>Front-end Developer</h1>
      <p>I like to code things from scratch, and enjoy bringing ideas to life in the browser.</p>
      <p class="mark">Languages I speak:</p>
      <ul>
        <li>Html</li>
        <li>Css</li>
        <li>Javascript</li>
        <li>React</li>
        <li>Angular</li>
        <li>Git</li>
      </ul>
    </div>
    <div class="card rigth">
      <h1>Back-end Developer</h1>
      <p>I like to code things from scratch, and enjoy bringing ideas to life in the browser.</p>
      <p class="mark">Languages I speak:</p>
      <ul>
        <li>Node.js</li>
        <li>MySql</li>
        <li>Express</li>
        <li>PHP</li>
      </ul>
    </div>
  </div>
</section>
